
.boardContainer div {
    width: 100%;
}


.boardContainer .smooth-dnd-container.horizontal {
    text-align: center;
}

.boardContainer .smooth-dnd-container.horizontal section {
    text-align: start;
}

.boardContainer .smooth-dnd-container.vertical {
    width: 100%;
}

.boardContainer .react-trello-lane {
    flex-grow: 1;
}

.boardContainer article {
    width: 100%;
    max-width: unset;
}
